* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Begin Contact */

.contact {
    min-height: 100vh;
    background-color: #fff;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact .container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.contact .container h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}

.container .contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.contact-wrapper .contact-form {
    text-align: left;
}

.contact-wrapper .contact-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.contact-form .form-group {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 10px;
    margin-bottom: 20px;
}

.contact-form .form-group label {
    font-weight: bold;
    text-align: right;
}

.contact-form .form-group.required label::after {
    content: "*";
    color: #ff0000;
    margin-left: 4px;
}

.form-group .textbox {
    width: 100%;
    padding: 12px;
    border-radius: 3px;
    border: #269547 solid 1px;
}

.textbox input:focus,
.textbox textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #BEDAA9;
}

.textbox textarea::-webkit-scrollbar {
    width: 4px;
}

.textbox textarea::-webkit-scrollbar-thumb {
    background-color: #1D7035;
}

.contact-form button {
    display: inline-block;
    padding: 8px 24px;
    background-color: #269547;
    color: #fff;
    border: #BEDAA9 solid 2px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-left: 125px;
    border-radius: 5px;
}

.contact-form button:hover {
    background-color: #58a370;
}

.contact-info .contact-form {
    margin-bottom: 20px;
}

.contact-wrapper .contact-info {
    margin-left: 87px;
    text-align: left;
}

.contact-wrapper .contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.contact-wrapper .contact-info p {
    margin-bottom: 10px;
    color: #555;
}

.contact-wrapper .contact-info i {
    color: #1D7035;
    margin-right: 10px;
}

.contact-info .branch {
    margin-left: 23px;
}

@media screen and (max-width: 768px) {
    .contact .container {
        max-width: 100%;
        padding: 20px;
    }
    .container .contact-wrapper {
        grid-template-columns: 1fr;
    }
}


/* End Contact */

/* Begin Register */

.register {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.register-container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
}

.register-container h3 {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.register-container .form-singup {
    margin-top: 30px;
}

.form-singup .singup-box {
    width: 100%;
    margin-top: 16px;
}

.singup-box label {
    color: #333;
}

.form-singup .singup-box.required label::after {
    content: "*";
    color: #ff0000;
    margin-left: 4px;
}

.form-singup :where(.singup-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.singup-box input:focus {
    box-shadow: 0 1px 0 #afdf8a;
}

.form-singup .column {
    display: flex;
    column-gap: 15px;
}

.form-group .gender-box {
    margin-top: 20px;
}

.gender-box h4 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
    padding-top: 16px;
}

.form-singup :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form-singup .gender {
    column-gap: 5px;
}

.gender input {
    accent-color: #1D7035;
}

.form-singup :where(.gender input, .gender label) {
    cursor: pointer;
}

.gender label {
    color: #707070;
}

.address :where(input, .select-box) {
    margin-top: 15px;
}

.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

.form-singup button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400px;
    transition: all 0.2s ease;
    background-color: #1D7035;
}

.form-singup button:hover {
    background-color: #2e7141;
}


/* Responsive */

@media screen and (max-width: 500px) {
    .form-singup .column {
        flex-wrap: wrap;
    }
    .form-singup :where(.gender-option, .gender) {
        row-gap: 15px;
    }
}

/* End Register */

/* Begin Login */

.container-login {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-login {
    border-radius: 6px;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    background-color: #fff;
}

.form-content h3 {
    font-size: 28px;
    font-weight: 600;
    color: #717171;
    text-align: center;
}

.form-input {
    margin-top: 30px;
}

.form-login .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid #CACACA;
}

.field input:focus {
    box-shadow: 0 1px 0 #afdf8a;
}

.fa-regular {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button {
    color: #fff;
    background-color: #1D7035;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover {
    background-color: #4a7556;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}


.form-link a {
    font-size: 14px;
    font-weight: 400px;
    color: #1D7035;
}

.font-input a {
    text-decoration: none;
}

.form-content a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #333;
}

.line::before {
    content: 'Hoặc';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #717171;
    padding: 0 15px;
}

.media-options a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.facebook {
    color: #fff;
    background-color: #4267b2;
}

a.facebook .fa-facebook-f {
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.facebook .fa-facebook-f,
img.google-img {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

img.google-img {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

a.google {
    border: 1px solid #CACACA;
}

a.google span {
    font-weight: 500;
    opacity: 0.8;
    color: #000;
}

/* End Login */