* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --white-color: #fff;
  --second-white-color: #eee;
  --primary-color: #1d7035;
  --secondary-color: #00aa33;
}

.white-color {
  color: #fff !important;
}

.second-white-color {
  color: #eee;
}

.primary-color {
  color: #1d7035 !important;
}

.secondary-color {
  color: #36da64 !important;
}

.center-title {
  text-align: center !important;
  text-transform: uppercase !important;
}

.section-space {
  margin: 40px 0 20px !important;
}

/* Start Header Section */
header {
  background-color: var(--second-white-color);
  padding: 0;
  position: fixed;
  top: 0;
  min-height: 80px;
  z-index: 1000;
}

header.container-fluid {
  padding: 0;
}

header nav.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.nav-link {
  color: var(--primary-color);
}

.nav-link:hover {
  cursor: pointer;
  color: var(--primary-color);
  opacity: 0.7;
}

.secondary-nav .search-input {
  display: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0 8px;
  max-width: 200px;
}

.secondary-nav .search-input:focus {
  box-shadow: 0 1px 10px var(--secondary-color);
  outline: none;
}

#searchButton,
#cartButton {
  color: #000;
}

.secondary-nav #searchButton,
.secondary-nav #cartButton {
  margin-left: 10px;
  padding: 10px;
  background-color: var(--primary-color);
  border-radius: 100%;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 20px;
}

.secondary-nav #searchButton:hover,
.secondary-nav #cartButton:hover {
  cursor: pointer;
  opacity: 0.7;
}
/* End Header Section */

/* Start Footer Section */
footer {
  background-color: var(--second-white-color);
  padding: 0;
  min-height: 250px;
}
footer .footer-container {
  padding: 0;
}

footer .footer-address,
footer .footer-info,
footer .footer-get-promotion {
  margin-top: 22px;
}

footer .footer-logo {
  margin-left: 38px;
}

footer .footer-social-media-link i {
  margin-left: 10px;
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 100%;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 20px;
  color: #000;
}

footer .footer-social-media-link a {
  text-decoration: none;
}

footer .footer-social-media-link a:hover {
  cursor: pointer;
  opacity: 0.8;
}

footer .footer-info ul {
  padding: 0;
}

footer .footer-info li {
  list-style-type: none;
  margin-bottom: 6px;
}

footer .footer-info li:hover {
  opacity: 0.8;
}

footer .footer-info a {
  text-decoration: none;
  color: var(--primary-color);
}

footer .footer-get-promotion .promotion-input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6px;
}

footer .footer-get-promotion .promotion-input:focus {
  box-shadow: 0 1px 10px var(--secondary-color);
  outline: none;
}

footer .footer-get-promotion .submit-email-button {
  padding: 5px 18px;
  background-color: var(--primary-color);
}

footer .footer-get-promotion .submit-email-button:hover {
  opacity: 0.9;
  cursor: pointer;
}

footer .back-to-top-icon {
  position: absolute;
  right: 50%;
  padding: 10px 16px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  z-index: 100;
}

footer .back-to-top-icon a {
  color: #000;
  text-decoration: none;
}

footer .back-to-top-icon:hover {
  cursor: pointer;
  background-color: #49df75;
}

footer .footer-copyright-reserved {
  border-top: 1px solid #333;
  padding: 15px 0;
  margin-top: 23px;
  text-align: center;
}
/* End Footer Section */

/* Begin Main Section Home Page*/
main {
  margin-top: 90px;
}

/* Home | Page Carousel Section */
.carousel-caption {
  bottom: 55% !important;
}
/* End Carousel Section */

/* Home Page | Flash Sale Section */
main .flash-sale {
  display: block;
  max-width: 75%;
  margin: 10px auto;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

main .flash-sale .flash-sale-container {
  padding: 18px 36px;
}

.flash-sale-container .flash-sale-header {
  margin-bottom: 12px;
}

#flash-sale-img {
  max-width: 270px;
}

.flash-sale-header .time-counter {
  margin: auto 0;
  margin-right: -16px;
}

.flash-sale-header .time-counter-label {
  display: inline-block;
  margin-right: 8px;
}

.flash-sale-header .time-counter #hours::after {
  content: ":";
  position: relative;
  right: -19px;
  font-size: 16px;
  font-weight: bold;
}

.flash-sale-header .time-counter #minutes::after {
  content: ":";
  position: relative;
  right: -19px;
  font-size: 16px;
  font-weight: bold;
}

.flash-sale-header .time-counter .time-counter-element {
  display: inline-block;
  font-size: 16px;
  margin: 0;
  padding: 6px;
  background-color: var(--second-white-color);
  border-radius: 10px;
}

.flash-sale-body .flash-sale-item {
  display: inline-block;
}

.flash-sale-body .flash-sale-item .card-body {
  background-color: var(--second-white-color);
}

.flash-sale-body .flash-sale-item .card-img-top {
  width: 100%;
}
/* End Flash Sale Section */

/* Home Page | Best Selller Section */
.best-seller {
}

#best-seller-container {
}

#best-seller-container .best-seller-item {
}
/* End Best Seller Section */

/* Home Page | News Catagories */
.news-catagories-item .news-catagories-container {
  border-radius: 24px;
  text-decoration: none;
  min-height: 400px;
}

.news-catagories-item .news-catagories-container:hover {
  box-shadow: 4px 4px 8px #888, -4px -4px 8px #ddd;
  cursor: pointer;
}

.news-catagories-container .news-catagories-img {
  border-radius: 24px 24px 0 0 !important;
}

.news-catagories-item .news-catagories-footer {
  margin-left: 16px;
}
/* End News Catagories Section */

/* Home Page | Features Section */
main .main-features {
  background-color: var(--second-white-color);
  border: 1px solid #666;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #666;
  margin: 100px auto;
  min-height: 150px;
  max-width: 80%;
}

.main-features .features-item {
  margin: auto 0;
}
/* End Feautures Section */
/* End Main Section Home Page */

/* BREAK POINT */

@media (min-width: 1024px) {
}

@media (min-width: 576px) and (max-width: 768px) {
  /* #navbarNav {
    display: flex;
  } */

  #login,
  #signup,
  #signup-btn {
    display: none;
  }

  #login-btn,
  #signup-btn,
  #cartButton {
    margin-left: 10px;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 100%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 20px;
    color: #000;
  }

  .secondary-nav .search-input {
    max-width: 160px;
    margin-left: 12px;
  }
}

@media (max-width: 575px) {
}
